In [ ]:
// What is the number of patient encounters by year and city?
USE DATABASE HCLS;
SELECT
YEAR (encounter_start) AS encounter_year,
synthea_city,
COUNT(*) AS number_of_encounters
FROM
SILVER.ENCOUNTERS
GROUP BY
YEAR (encounter_start),
synthea_city
ORDER BY
encounter_year,
synthea_city;

In [ ]:
year_city_df = year_city.to_pandas()
print(year_city_df.head())

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

plt.figure(figsize=(12,6))
sns.barplot(
    data=year_city_df,
    x="ENCOUNTER_YEAR",
    y="NUMBER_OF_ENCOUNTERS",
    hue="SYNTHEA_CITY"
)

plt.title("Number of Patient Encounters by Year and City")
plt.xlabel("Year")
plt.ylabel("Number of Encounters")
plt.legend(title="City")
plt.tight_layout()
plt.show()

In [ ]:
import matplotlib.pyplot as plt

# Pivot the data so cities become columns (easier for grouped plots)
pivot_df = year_city_df.pivot(
    index="ENCOUNTER_YEAR",
    columns="SYNTHEA_CITY",
    values="NUMBER_OF_ENCOUNTERS"
)

# Plot as a grouped bar chart
pivot_df.plot(kind="bar", figsize=(12,6))

plt.title("Number of Patient Encounters by Year and City")
plt.xlabel("Year")
plt.ylabel("Number of Encounters")
plt.legend(title="City")
plt.tight_layout()
plt.show()